body {
    background-image: url("../images/gravel.png");   
}

.row {
    margin: 25px 0px;
    padding: 10px;
}

#title {
    background: #17CFFF;
    border-radius: 5px;
    color: #063440;
}

#itemDisplay {
    background:#063440;
    border: 1px solid black;
    border-radius: 5px;
    height: 350px;
}

li {
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    padding: 6px;
}

.complete {
    float: right;
    margin-top: -7px;
    margin-right: -7px;
}

#directionDisplay {
    background: #119BBF;
    border-radius: 5px;
    color: white;
}

form {
    background: #119BBF;
    padding: 10px;
}

input {
    height: 37px;
    border-radius: 5px;
}

#toDoDiv {
    background: #119BBF;
    border-radius: 5px;
    padding-bottom: 5px;
    color: white;
}

#toDoInput, #homeInput, #addressInput {
    float: right;
}

#setHomeDisplay {
    background:#119BBF;
    border-radius: 5px;
    height: 150px;
    color: white;
}